/*ant header styles*/
.ant-layout-header {
  height: auto;
  background-color: #ffffff;
}

/*ant navbar styles*/
.ant-menu-horizontal {
  text-align: center;
}

.ant-menu-item {
  margin-right: 30px;
}
