/*General styles*/
.heading {
  text-align: center;
  color: lightseagreen;
}

.subtitle {
  text-align: center;
}

.loading-container {
  width: 200px;
  margin: 0 auto;
  font-size: 30px;
}

/*in app message styles*/
.req-status-message {
  text-align: center;
  margin-top: 10px;
}

.page-error {
  text-align: center;
  margin-top: 30px;
}
