.viewContainer {
  margin: 0 auto;
  width: 850px;
  margin-top: 35px;
  margin-bottom: 50px;

  @media (max-width: 575px) {
    & {
      max-width: 350px;
    }
  }

  @media (min-width: $phone-width) and (max-width: $tablet-width) {
    & {
      max-width: 650px;
    }
  }

  .pagination-top {
    margin-bottom: 30px;
  }

  .pagination-bottom {
    margin-top: 30px;
  }
}
