.heading {
  text-align: center;
  color: lightseagreen;
}

.subtitle {
  text-align: center;
}

.viewContainer {
  margin: 0 auto;
  max-width: 850px;
  margin-top: 35px;
  margin-bottom: 50px;
}

.loading-container {
  width: 200px;
  margin: 0 auto;
  
}

/*ant header styles*/
.ant-layout-header {
  height: auto;
  background-color: #f3f0f0;
}

/*ant navbar styles*/
.ant-menu-horizontal {
  text-align: center;
}

.ant-menu-item {
  margin-right: 30px;
}

/*form styles*/
.form {
  max-width: 650px;
  margin: 0 auto;
}

.add-form-button {
  width: 100%;
}

/*404 styles */
.page-error {
  text-align: center;
  margin-top: 30px;
}
